[submodule "maven"]
	path = maven
	url = git://github.com/maestrodev/puppet-maven.git
[submodule "archiva"]
	path = archiva
	url = git://github.com/maestrodev/puppet-archiva.git
[submodule "sonar"]
	path = sonar
	url = git://github.com/maestrodev/puppet-sonar.git
[submodule "wget"]
	path = wget
	url = git://github.com/maestrodev/puppet-wget.git
[submodule "activemq"]
	path = activemq
	url = git://github.com/maestrodev/puppet-activemq.git
[submodule "postgres"]
	path = postgres
	url = git://github.com/maestrodev/puppet-postgres.git
[submodule "ntp"]
	path = ntp
	url = git://github.com/maestrodev/puppet-ntp.git
[submodule "rvm"]
	path = rvm
	url = git://github.com/maestrodev/puppet-rvm.git
[submodule "jenkins"]
	path = jenkins
	url = git://github.com/maestrodev/puppet-jenkins.git
[submodule "jetty"]
	path = jetty
	url = git://github.com/maestrodev/puppet-jetty.git
[submodule "mysql"]
	path = mysql
	url = git://github.com/maestrodev/puppet-mysql.git
[submodule "continuum"]
	path = continuum
	url = git://github.com/maestrodev/puppet-continuum.git
[submodule "stdlib"]
	path = stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "flowdock"]
	path = flowdock
	url = git://github.com/maestrodev/puppet-flowdock.git
[submodule "install4j"]
	path = install4j
	url = git://github.com/maestrodev/puppet-install4j.git
[submodule "subversion_edge"]
	path = subversion_edge
	url = git://github.com/maestrodev/puppet-subversion_edge.git
[submodule "artifactory"]
	path = artifactory
	url = git://github.com/maestrodev/puppet-artifactory.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/maestrodev/puppet-git.git
[submodule "modules/svn"]
	path = modules/svn
	url = https://github.com/maestrodev/puppet-svn.git
